---
title: Accidental Haiku
role: Creator &amp; Developer
image: /img/screenshot-accidentalhaiku.jpg
link: https://twitter.com/accidental575
---

<p>A bot that finds haiku accidentally written on Twitter. The bot finds about 3,000 haiku per day. I post the best ones on <a href="https://twitter.com/accidental575" target="_blank">@accidental575</a>.</p>
