---
title: Muslima
role: Developer
image: /img/screenshot-muslima.jpg
link: http://muslima.globalfundforwomen.org
lead: Mediatrope Interactive
---

<p>A thought-provoking collection of essays and artwork from contemporary Muslim women. Curated by the International Museum of Women.</p>
