* {
  box-sizing: border-box;
}

:root {
  --septa-size: 700px;
  --septa-offset: 0.463;
  --septa-scale: 1.1;
  --septa-color-offset: 0;
}

header {
  position: relative;
  height: 100vh;
}

#septagons svg {
  position: absolute;
  right: 50%;
  top: 50%;
  height: var(--septa-size);
  width: var(--septa-size);
  margin-top: calc(var(--septa-size) / -2);
  transform-origin: right center;
  mix-blend-mode: multiply;
}
#septagons svg:nth-child(1) {
  transform: rotate(0deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(0 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(2) {
  transform: rotate(51.4285714286deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(51.4285714286 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(3) {
  transform: rotate(102.8571428571deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(102.8571428571 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(4) {
  transform: rotate(154.2857142857deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(154.2857142857 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(5) {
  transform: rotate(205.7142857143deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(205.7142857143 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(6) {
  transform: rotate(257.1428571429deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(257.1428571429 + var(--septa-color-offset)), 100%, 70%);
}
#septagons svg:nth-child(7) {
  transform: rotate(308.5714285714deg) translateX(calc(var(--septa-size) * var(--septa-offset))) scale(var(--septa-scale));
  fill: hsl(calc(308.5714285714 + var(--septa-color-offset)), 100%, 70%);
}